html {
    background-color: #1b1b1b;
}

body {
    background: #1b1b1b;
    background-image: url('https://i.imgur.com/Mx1bhSC.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
}

span.SidebarMenuButton-sidebarMenuPrimaryTitle-2_fxH {
    color: #ff0072;
}

div.DisclosureArrow-disclosureArrow-1KPaB.DisclosureArrow-down-3lf_G.DisclosureArrow-up-L-Dw3.DisclosureArrow-default-_QTDZ.DisclosureArrow-medium-20Idw.DisclosureArrow-isSelected-QMJhD {
    color: #ff0072;
}

button.PageHeaderBreadcrumbButton-button-ZRyx6.DisclosureArrowButton-disclosureArrowButton-11LSb.DisclosureArrowButton-medium-3zt1W.DisclosureArrowButton-isSelected-1aPl5.Link-link-2n0yJ.Link-default-2XA2b.Link-isSelected-IRm9u {
    color: #ff0072;
}

i.plex-icon-navbar-home-560.NavBarIconButton-icon-2gdVP {
    color: #ff0072;
}

div.HubCell-title-UFv40.HubCellTitle-hubCellTitle-2abIn {
    color: #ff0072;
}

i.plex-icon-navbar-back-560.NavBarIconButton-icon-2gdVP {
    color: #ff0072;
}

div.PageHeaderLeft-pageHeaderLeft-OxyzP span {
    color: #ff0072;
}

i.plex-icon-search-560.QuickSearchInput-searchIcon-38PAh {
    color: #ff0072;
}

div.QuickSearchInput-container-1HiCo {
    background-color: #fff;
    color: #000;
}

span.SidebarMenuButton-sidebarMenuPrimaryTitle-2_fxHH {
    color: #ff0072;
}

div.DisclosureArrow-disclosureArrow-1KPaBC.DisclosureArrow-down-3lf_Gg.DisclosureArrow-up-L-Dw3O.DisclosureArrow-default-_QTDZt.DisclosureArrow-medium-20IdwE.DisclosureArrow-isSelected-QMJhDY {
    color: #ff0072;
}

button.PageHeaderBreadcrumbButton-button-ZRyx6_.DisclosureArrowButton-disclosureArrowButton-11LSbY.Link-link-2n0yJn.DisclosureArrowButton-medium-3zt1WM.DisclosureArrowButton-isSelected-1aPl5o.Link-link-2n0yJn.Link-default-2XA2bN.Link-isSelected-IRm9uM {
    color: #ff0072;
}

div.QuickSearchInput-container-1HiCoN {
    color: #ff0072;
    background-color: #ffffff;
}
